:root{
    --swatch--green: #aaa6a6;
}
#nav.is-open {
    background-color: #28385e;
    color: var(--swatch--white);
}
.section.is-dark-tan {
    background-color: #e6e6e6 !important;
}
.nav_logo.is-desktop .nav_logo-a{
    width: 6.2844em;
}
