.galleries{
height:300px;
position:relative;
cursor:pointer;
overflow:hidden;
transition:all 0.4s ease-in-out;
border-radius:12px;
box-shadow: rgb(0 0 0 / 18%) 0px 0px 20px 1px;
}
.galleries .gallery-name{
    position: absolute;
    bottom: 0;
    color: white;
    background: #0000009e;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    height:100%;
}
.galleries .gallery-img{
transition:all 0.4s ease-in-out;

}
.galleries:hover .gallery-img{
transform: scale(1.1);
}
.galleries:hover .gallery-name{
transform: translateY(80%);
}
.page-head{
font-size:24px;
color:var(--primary);
}